@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html{
  scroll-behavior: smooth;
}

body {
  color: white;
  background: black;
  font-family: Righteous, Helvetica, sans-serif;
  overflow-x:hidden;
  font-weight: 200;
}


.formula{
  font-family:var(--font-Azeret)
}


@layer base {

  .wrapper{
    @apply mx-auto max-w-8xl px-4;
  }


  /* .btn{
    @apply text-xl bg-white text-black px-6 py-1 rounded-lg font-medium
  }
   */
  h2{
    @apply text-4xl font-bold text-white
  }

  h3{
    @apply text-white md:text-3xl text-2xl font-light
  }


  h4{
    @apply text-white md:text-3xl text-2xl font-medium
  }
 



  p{
    @apply text-white/60 text-base
  }

  b{
    @apply font-bold
  }

  .floating-nav{
    @apply bg-white/10 backdrop-blur-md shadow-lg rounded-lg
  }
  .boxText{
    @apply bg-gray-box/35 rounded-lg  p-4 w-full max-h-[240px] space-y-4 justify-center flex flex-col
  }
}





.btn {
  font-size: 16px;
  background: transparent;
  border: none;
  padding: 0.5em 1.2em;
  color: white;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}
.btn:hover {
  color:black;
 transition-delay: 0.5s;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: 0.5s ease;
}



.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: white;
  transition: 0.4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;

}






