@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html{
  scroll-behavior: smooth;
}

body {
  color: white;
  background: black;
  font-family: Righteous, Helvetica, sans-serif;
  overflow-x:hidden;
  font-weight: 200;
}

p, .quicksand{
  font-family: Quicksand, Helvetica, sans-serif;

}




.formula{
  font-family:var(--font-Azeret)
}


.btn {
  font-size: 16px;
  background: transparent;
  border-radius: 10px;
  border: none;
  padding: 0.5em 1.2em;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}


.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: 0.5s ease;
  border-radius: 10px;
}



.btn:hover::before {
  width: 100%;
  
}






@layer base {

  .wrapper{
    @apply mx-auto max-w-8xl px-4;
  }


  h2{
    @apply text-4xl font-bold text-white
  }

  h3{
    @apply text-white md:text-3xl text-2xl font-light
  }


  h4{
    @apply text-white md:text-3xl text-2xl font-medium
  }
 

  b{
    @apply font-bold
  }

  .floating-nav{
    @apply bg-white/10 backdrop-blur-md shadow-lg rounded-lg
  }
  .boxText{
    @apply bg-gray-box/35 rounded-lg  p-4 w-full max-h-[240px] space-y-4 justify-center flex flex-col
  }
}





